#templates-rooms-index {
  margin-top: 10rem;
  background-color: #252525;
  font-family: 'Courgette', cursive;

  .room-card {
    color: #eee;
    min-height: 175px;
    margin-bottom: 30px;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    @include box-shadow(#111 0 2.5px 5px);
    &:hover {
      @include box-shadow(#111 2.5px 5px 10px);
    }
  }
  .red {
    background-color: #B71C1C;
  }
  .pink {
    background-color: #880E4F;
  }
  .purple {
    background-color: #4A148C;
  }
  .deep-purple {
    background-color: #311B92;
  }
  .indigo {
    background-color: #1A237E;
  }
  .blue {
    background-color: #0D47A1;
  }
  .cyan {
    background-color: #006064;
  }
  .teal {
    background-color: #004D40;
  }
  .green {
    background-color: #1B5E20;
  }
  .deep-orange {
    background-color: #BF360C;
  }
  .live-tile-cards {
    margin-top: 4rem;
    padding-top: 2rem;
  }
}